@media (max-width:280px) {
    .h2, h2 {
        font-size: 20px!important;
    }
    .lead {
        font-size: 22px!important;
            
    }
    .hamburger-box {
        width: 27px!important;
        height: 25px;
    }
    h4 {
        font-size: 23px;
    }
    .involved-donate {
        width: auto;
    }
    .container.u-bg-overlay__inner {
        width: 100%;
        text-align: center;
        position: relative;
        bottom: -1%!important;
        padding: 0;
    }
}
@media (max-width: 320px) {
    .three-column-blocks .card-body {
        padding: 1.25rem
    }

    .navbar-collapse {
        position: absolute;
        background-color: #fff;
        top: 58px !important;
        width: 100%;
        text-align: center;
        z-index: 99999;
        padding: 20px 0
    }
   
}

@media (min-width: 320px) and (max-width:375px) {
    .main-slider-static-text h1 {
        font-size: 30px !important
    }

    .paragraph-text-three-quarter .h2 {
        padding-bottom: 15px !important;
        font-size: 30px
    }
    .my-sponsor {
        display: inline-block;
        opacity: 3;
        margin-top: 0!important;
    }
   
}
@media (max-width: 767px) {
    /* .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid,
    .navbar-expand-lg>.container-lg,
    .navbar-expand-lg>.container-md,
    .navbar-expand-lg>.container-sm,
    .navbar-expand-lg>.container-xl {
        padding-right: 15px;
        padding-left: 15px;
    } */
    .my-sponsor {
        display: inline-block;
        opacity: 3;
        margin-top: 40px;
    }
    .container.g-pt-75 {
        padding-top: 1.35714rem !important;
    }
    .container.g-pb-75 {
        padding-bottom: 1.35714rem !important;
    }
    .heart-donate {
        width:40%!important;
    }
    .navbar-brand img {
        width: 50%!important;
    }
    .hamburger.hamburger--slider.g-pr-0 {
        padding-right:15px!important;
        vertical-align: middle;
    }
    .hamburger--slider .hamburger-inner {
        top:50%;
    }

    .logo {
        display: none
    }

    .mobi-logo img {
        width: 70%;
    }

    .navbar-toggler {
        color: #ca070c !important;
        border: none
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        color: #fff;
    }
    .nav-link.my-contact.btn-primary {
        margin-left:0!important;
    }
    .explore {
        left: 17%;
        top: 77%;
        right: 0;
        width: 67%;
        padding: 7px 18px;
        font-size: 15px;
    }
    .strip-img img {
        display:none;
    }
    .h1 {
        font-size:40px;
    }
    .flags h3 {
        margin-bottom: 0;
        margin-top: 20px;
    }
    .get-involved h3 {
        margin-top: 15px;
    }
    .get-involved ul {
        margin-top:20px;
    }
    .discover {
        left: 35%;
        bottom: -13%;
        color: #fff;
        font-size: 27px;
    }
    .discover-section .dove {
        height: 10vh!important;
    }
    .discover-section .h4 {
        margin-top: 15px;
    }
    .nav-item.header-icons-socials i {
        margin: 0 25px 0 0;
    }

    .main-slider-static-text h1 {
        font-size: 40px
    }

    .main-slider-static-text .h1 {
        font-size: 35px;
        text-transform: uppercase;
        color: #000;
    }

    .my-contact.btn-primary {
        margin-bottom: 20px;
    }

    footer ul {
        padding-left: 0;
        margin-bottom: 0;
        display: block;
        text-align: center;
    }
    .footer .col-md-4 img {
        margin-top: 50px;
    }
    footer p {
        text-align: center;
    }

    .h2,
    h2 {
        font-size: 21px;
    }
    .intro-quote .lead p{
        font-size: 14px!important;
    }
    .contact h2,
    .events .h2 {
        font-size: 40px;
    }

    .call-to-action .btn-primary.light-blue {
        margin-bottom: 30px;
    }

    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }

    .dropdown-menu {
        text-align: left;
        list-style: none;
        padding-left: 0;
        padding-right: 0;
        width: auto;
        border-radius: 0;
        border: 0;
        margin: 20px 0;
        box-shadow: none !important;
    }

    .main-slider-static-text.directors {
        margin-bottom: 20px
    }

    .feature-heading-text {
        padding: 5% 0;
        margin-left: 0;
        margin-right: 0
    }

    .feature-heading-text-drk-blue {
        margin-left: 0;
        margin-right: 0
    }

    .feature-heading-text-drk-blue h1 {
        padding-bottom: 15px
    }

    .feature-heading-text h1 br {
        display: none
    }

    .feature-heading-text .call-to-action {
        display: flex;
        justify-content: center
    }

    .three-column-blocks h1 {
        font-size: 38px
    }

    .three-column-blocks h2 {
        font-size: 38px;
    }
    .lead p {
        font-size: 21px;
    }
    .quote-bg .lead {
        font-size: 14px!important;
            
    }
    .navbar-collapse {
        background-color: #111111;
        padding: 25px 0;
        width: auto !important;
        margin-right: 0px;
        margin-left: 0px;
        text-align: center;
        position: absolute;
        z-index: 999999;
        left: 0;
        right: 0;
        top: 79px;
    }
    .g-bg-portfolio-promo {
        background-image: url(../img/bg/mobile-bg.png);
        background-size: cover;
        height: 57vh;
        background-repeat: no-repeat;
    }
    .container.g-py-75 {
        padding-top: 2.35714rem !important;
        padding-bottom: 2.35714rem !important;
    }
    .container.u-bg-overlay__inner {
        width: 100%;
        text-align: center;
        position: relative;
        bottom: -18%;
        padding: 0;
    }
    .navbar-collapse .dropdown-item {
        text-align: center;
    }

    .nav-link {
        padding-left: 0;
        padding-bottom: 15px
    }

    .nav-item i {
        margin-right: 15px
    }

    .nav-item.header-icons {
        justify-content: center !important
    }

    .h2 br,
    h1 br {
        display: none
    }

    .feature-heading-text i {
        font-size: 40px;
        padding-left: 0
    }

    .parallax-image-heading.finance-elec,
    .parallax-image-heading.index,
    .parallax-image-heading.our-directors {
        margin-left: 0;
        margin-right: 0;
        min-height: auto
    }

    .four-image-heading-text {
        margin-top: 20px
    }

    .three-column-blocks .card-body {
        padding: 2.25rem
    }

    .three-column-blocks h5 {
        padding-top: 15px
    }

    .three-column-cards p {
        padding-bottom: 0 !important
    }

    .main-slider-static-text .card-body {
        padding: 1.25rem 0
    }

    .three-column-cards .light-green {
        text-align: center
    }

    .double-feature-block .card-body {
        padding: 1.25rem
    }

    .image-with-heading {
        padding: 20% 0;
        margin: 15px
    }

    .image-with-heading .h2 {
        font-size: 30px
    }

    p br {
        display: none
    }

    .header .col-12 {
        padding: 0
    }

    .single-feature-block-right .h2 {
        font-weight: 400
    }

    .paragraph-text-three-quarter .h2 {
        font-size: 40px;
        padding-bottom: 0 !important
    }

    .error-page {
        padding: 15vh 0
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .how-to img {
        width: 50%;
        
    }
    .involved-donate {
        width: 26%;
    }
    .navbar-toggler.g-top-3 {
        top: 20%!important;
    }
    .logo {
        display: none
    }

    .mobi-logo img {
        width: 20%
    }
    .navbar-expand-lg .navbar-collapse {
        width: 40%;
    }
    .navbar-light .navbar-toggler {
        color: #ca070c;
        border: none;
        text-align: right;
        padding: 0
    }

    .main-slider-static-text h1 {
        font-size: 40px
    }

    .h2,
    h2 {
        font-size: 30px
    }

    .main-slider-static-text .carousel-control-next i,
    .main-slider-static-text .carousel-control-prev i {
        font-size: 30px
    }

    .main-slider-static-text .carousel-control-next,
    .main-slider-static-text .carousel-control-prev {
        top: 69%;
        width: 88%;
        margin-right: 35px
    }

    .feature-heading-text .call-to-action {
        padding-left: 15px
    }

    .three-column-blocks h1 {
        font-size: 40px
    }

    .navbar.navbar-expand-lg {
        padding-left: 0;
        padding-right: 0
    }

    .navbar-collapse {
        position: absolute;
        background-color: #000;
        top: 105px;
        width: 40%;
        text-align: center;
        z-index: 99999;
        padding: 20px 0;
        left: 64%;
    }
    .nav-link.g-py-7 {
        padding-bottom: 15px !important;
    }
    .g-bg-portfolio-promo {
        background-image: url(../img/bg/mobile-bg.png);
    }
    .container.u-bg-overlay__inner.g-pt-225  {
        padding-top: 43.07142rem !important;
           
    }
    .container.u-bg-overlay__inner {
        bottom: 0;
    }
    .nav-link.my-contact.btn-primary {
        margin-left:0!important;
    }
    .extraordinary-team .card-body {
        min-height: 509px;
    }
    .get-involved h3 {
        margin-top: 20px;
    }
    .get-involved .row {
        align-items: normal!important;
    }
    .discover {
        left: 32%;
        bottom: 8%;
        font-size: 37px;
    }
    .nav-link {
        padding-left: 0;
        padding-bottom: 15px
    }

    .nav-item i {
        margin-right: 15px
    }

    .nav-item.header-icons {
        justify-content: center !important
    }

    .feature-heading-text .container {
        position: static
    }

    .feature-heading-text .container::after {
        width: 0
    }

    .feature-heading-text {
        background-color: #849b80;
        padding: 4% 0;
        margin-left: 0;
        margin-right: 0
    }

    .feature-heading-text i {
        font-size: 40px;
        padding-left: 0
    }

    .feature-heading-text-drk-blue {
        margin-left: 0;
        margin-right: 0
    }

    .feature-heading-text-drk-blue .h2 br {
        display: none
    }

    .three-column-cards .card-body {
        padding: 0
    }

    .main-slider-static-text .card-body {
        padding: 30px
    }

    .three-column-cards {
        margin-top: 5%
    }

    .three-column-cards .col-md-3.p-4 {
        padding: .5rem !important
    }

    .three-column-blocks .card-body {
        padding: 2.25rem
    }

    .three-column-cards .light-blue {
        text-align: center
    }

    .sliding-text-static-icon .carousel-control-next,
    .sliding-text-static-icon .carousel-control-prev {
        top: 60px;
        bottom: -125%;
        width: 90%
    }

    .double-feature-block .card-body {
        padding: 1.25rem
    }

    .image-with-heading {
        padding: 20% 0;
        margin: 15px
    }

    .image-with-heading .h2 {
        font-size: 30px
    }

    .header .col-12 {
        padding: 0
    }

    .single-feature-block-right .h2 {
        padding-bottom: 25px
    }

    .single-feature-block-right p {
        padding-bottom: 25px
    }

    .paragraph-text-three-quarter {
        padding: 0
    }
    .explore {
        left: 31%;
        width: 40%;
    }
    .g-bg-img-hero {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .main-slider-static-text .card-body.p-lg-5 {
        padding: 0 !important
    }
    .g-bg-img-hero {
        /* background-size: cover; */
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
    }
    .g-mx-15--lg {
        margin-left: 0.07143rem !important;
        margin-right: 1.07143rem !important;
    }
    .main-slider-static-text h1 {
        font-size: 30px;
        padding-bottom: 8px
    }
    .h2,
    h2 {
        font-size: 34px;
    }
    .main-slider-static-text p {
        padding-bottom: 0
    }
    .explore {
        left: 37%;
        width: 28%;
        padding: 7px 30px;
    }
    .extraordinary-team .card-body {
        min-height: 562px;
    }
    .discover {
        bottom: 8%;
    }
    .three-column-blocks h1 {
        font-size: 43px
    }

    .feature-heading-text,
    .feature-heading-text-drk-blue {
        margin-left: 50px;
        margin-right: 50px
    }

    .feature-heading-text-drk-blue .h2 br {
        display: none
    }

    .single-feature-block-left .col-md-12 {
        padding-left: 0;
        padding-right: 0
    }

    .single-feature-block-right .col-md-12 {
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width: 1200px) and (max-width:1290px) {
    .nav-link.my-contact {
        padding-right: 15px !important
    }
    .container.u-bg-overlay__inner.g-pt-225 {
        padding-top: 5.07142rem!important;
    }
    .container.u-bg-overlay__inner {
        bottom: 0;
    }
    .my-sponsor {
        display: inline-block;
        opacity: 3;
        margin-top: 26px;
    }
    .logo {
        padding-left: 15px
    }

    .main-slider-static-text h1 {
        font-size: 30px
    }

    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        padding-right: 55px;
        padding-left: 55px
    }

    .main-slider-static-text .card-body.p-lg-5 {
        padding: 15px !important
    }

    .main-slider-static-text .carousel-control-next,
    .main-slider-static-text .carousel-control-prev {
        top: 82%;
        width: 87%;
        margin-right: 30px
    }

    .main-slider-static-text .card-body p br {
        display: none
    }

    .double-feature-block .card-body {
        padding: 12px
    }

    .double-feature-block .brown .h2,
    .double-feature-block .green .h2 {
        font-size: 26px
    }

    .feature-heading-text i {
        padding-left: 30px
    }

    .feature-heading-text h1,
    .feature-heading-text-drk-blue h1 {
        font-weight: 900;
        padding-left: 20px
    }

    .feature-heading-text,
    .feature-heading-text-drk-blue {
        margin-left: 38px;
        margin-right: 38px
    }

    .four-image-heading-text .col-xl-4 {
        max-width: 24.333333% !important
    }

    .brown .h2,
    .green .h2 {
        font-size: 30px;
        font-weight: 600
    }

    .paragraph-text-three-quarter .h2 {
        font-size: 45px
    }

    .paragraph-text-three-quarter .container {
        padding-left: 25px !important
    }

    .three-column-cards .card-body {
        padding: 0
    }

    .three-column-cards .card-text {
        padding-bottom: 0 !important
    }

    .single-feature-block-left .col-md-12 {
        padding-left: 0;
        padding-right: 0
    }

    .single-feature-block-right .col-md-12 {
        padding-left: 0;
        padding-right: 0
    }

    .feature-heading-text .call-to-action {
        padding-right: 50px
    }

    .points {
        padding-right: 40px
    }
   
}

@media (min-width: 1291px) and (max-width:1440px) {
    .main-slider-static-text h1 {
        font-size: 38px
    }
    .container.u-bg-overlay__inner.g-pt-225 {
        padding-top: 5.07142rem !important;
    }

    .container.u-bg-overlay__inner {
        bottom: 0;
    }

    .my-sponsor {
        display: inline-block;
        opacity: 3;
        margin-top: 26px;
    }
    .main-slider-static-text .card-body.p-lg-5 {
        padding: 15px !important
    }

    .main-slider-static-text .card-body p br {
        display: none
    }

    .double-feature-block .card-body {
        padding: 1.25rem !important
    }

    .feature-heading-text i {
        padding-left: 30px
    }

    .four-image-heading-text .col-xl-4 {
        max-width: 24.333333% !important
    }

    .brown .h2,
    .green .h2 {
        font-size: 30px;
        font-weight: 600
    }
    .h2, h2 {
        font-size: 34px;
    }
    .intro-quote .lead p {
        font-size: 20px;
    }
    a,
    li,
    p {
        font-size: 15px;
    }
}

@media (min-width: 1400px) and (max-width:1600px) {
    .container.u-bg-overlay__inner.g-pt-225 {
        padding-top: 5.07142rem !important;
    }

    .container.u-bg-overlay__inner {
        bottom: 0;
    }

    .my-sponsor {
        display: inline-block;
        opacity: 3;
        margin-top: 26px;
    }
    .double-feature-block .brown .h2,
    .double-feature-block .green .h2 {
        font-size: 30px
    }
}